body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h2{
    margin: 8px;
}


.header {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    background-color: #175;
    color: #fff;
}


.nav{
    display:flex;
    justify-content:center;
    padding: 10px;
    background-color: #ddd;
    width: 100%;
    gap: 10%;
}

.nav div{
    margin:0 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 15px;
}

.nav div.active{
    background-color: yellow;
    border-color: #888;

}


.container {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
}

.test_config_left,.test_progress_right{
    border: 1.5px solid black;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.test_config_left div,.test_progress_right div{
    margin-bottom:5px;
}

form {
    margin-bottom: 10px;
}
select, button {
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
button {
    border: 1.3px solid black;
}
button:hover {
    background-color: #eaeaea;
}

.test_category{
    display: flex;
    justify-content: center; /* 水平居中。会自动应用到所有子元素，因此只有按钮本身被居中。*/
    align-items: center;
}

.test_category div, .flex-container label{
    margin-right: 20px;
    margin-top: 10px;
}

.select_route{
    position: relative; /* 设置相对定位基准 */
    display: flex;
    justify-content: center; /* 水平居中。会自动应用到所有子元素，因此只有按钮本身被居中。*/
}

#select_route_p{
    color: red;
    font-size: 13px;
    position: absolute; /* 绝对定位置于左侧或右侧 */
    left: 58%; /* 将 <p> 放置在 button 的右边 */
    white-space: nowrap; /* 防止 <p> 中的文字换行 */
    margin-top: 20px;
}

.test_input {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中（如果有多行元素） */
    flex-direction: column; /* 指定子元素垂直排列 */
}

.test_input input{
    margin-top:10px;
    font-size: 14px;
    height: 20px;
    width: 50%;
    border: 1.5px solid black;
    border-radius: 3px;
}

.disabled-input{
    background-color: #e0e0e0; /* 灰色背景表示不可用 */
    color: #a0a0a0; /* 浅灰色文字 */
    border: 1px solid #d0d0d0; /* 边框颜色 */
    /* 可以添加其他样式，如光标样式等 */
    cursor: not-allowed;
}

.test_progress{
    margin:0 38%;
    text-align: left;
    width: 100%;
}

.test_progress div{
    margin: 20px 0;
}

.status-label {
    font-weight: bold;
  }
  .status-value {
    color: #555;
  }
  .status-not-viewed {
    color: #999;
  }

  .test_progress_button_group button{
    margin:10px 10px;
  }


