<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自动化测试平台</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="header">
        <h1>自动化测试平台</h1>
</div>

<div class="nav">
        <div class="active" onclick="location.href='/';">自动化测试</div>
        <div onclick="location.href='test_results'">测试结果</div>
        <div onclick="location.href='test_reports'">测试报告</div>
</div>


<div class="container">
    <!--自动化测试参数配置、开始测试，在container左侧-->
    <div class="test_config_left">
            <form id="test_form" action="/" method="post">
            <h2>测试配置</h2>
        <div>
            <label for="test_stand">选择台架：</label>
            <select id="test_stand" name="test_stand">
                <option value="" selected disabled hidden>请选择</option>
                {% for stand in test_stands %}
                <option value="{{ stand }}">{{ stand }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="test_category">
            <p>测试版本：</p>
            <div>
                <input type="radio" id="specific_version" name="version_radio" value="specific" checked>
                <label for="specific_version">指定版本</label>
            </div>

            <div>
                <input type="radio" id="current_version" name="version_radio" value="current">
                <label for="current_version">当前版本</label>
            </div>

        </div>

        <div class="test_input">
            <input type="text" id="version" name="version" maxlength="7" autofocus placeholder="版本号（四位数及以上）">
            <input type="text" id="test_name" name="test_name" placeholder="命名(例如：K4.5-2024.03.MR1-3843)">
        </div>

        <div class="select_route">
            <button id="select_route_btn" type="button" disabled>选择航线</button>
            <p id="select_route_p">暂不可选(请把航线放在AutoAirline目录下)</p>
        </div>

        <button type="button" name="action" value="start" id="start_test_btn">开始测试</button>
        <!-- 用于显示错误消息的元素 -->
        </form>
    </div>

    <!--展示测试进度，在container右侧-->
    <div class="test_progress_right">
        <h2>台架状态</h2>
        {% block stands_status %}
        <div class="test_progress">
            <div id="stand_category">
                <span class="status-label">台架类型：</span>
                <span id="test_stand_value" class="status-value status-not-viewed">未选择台架</span>
            </div>
            <div id="xpu_version">
                <span class="status-label">软件版本：</span>
                <span id="xpu_version_value" class="status-value status-not-viewed">未选择台架</span>
            </div>
            <div id="test_status">
                <span class="status-label">测试状态：</span>
                <span id="test_status_value" class="status-value status-not-viewed">未选择台架</span>
            </div>
            <div id="test_percent">
                <span class="status-label">测试进度：</span>
                <span id="test_percent_value" class="status-value status-not-viewed">未选择台架</span>
            </div>

        </div>

        <div class="test_progress_button_group">
            <button type="button" id="pause_test_button" name="pause_test_button" disabled>暂停测试</button>
            <button type="button" id="continue_test_button" name="continue_test_button" disabled>继续测试</button>
        </div>
        {% endblock %}
    </div>


<script src="{{ url_for('static',filename='js/app.js') }}"></script>
</div>
<b style="font-size:15px;color:red;text-align:center;padding-top:15px;">提示1：指定版本测试会将测试结果上传至飞书表格，当前版本测试会将测试结果保存在本地</b>
<b style="font-size:15px;color:red;text-align:center;padding-top:15px;">提示2：命名会影响到测试结果的命名（测试结果保存到飞书在线表格）</b>
</body>
</html>
